<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Basler.PylonC.NET" version="5.0.5" targetFramework="net451" />
  <package id="OpenCvSharp3-AnyCPU" version="4.0.0.20181129" targetFramework="net451" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net451" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net451" />
</packages>